/* centre .titre au milieu de la page */
#titre {
    text-align: center;
    background: rgb(255, 255, 255);
    background-clip: border-box;  
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
} 

/* BARRE HEADER */
.navtop {
    display: flex;
    align-content: center;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
}

.navtop div {
    width: 100%;
    height: 130px;
    background-color: #00796B;
}


/* the background is grey */
body {
    font-family: 'Inter';
    background-color: #F5F5DC;
    margin: 0;
}

h1 {
    color: #262522
}

h2 {
    color: #262522;
    font-size: 30px;
}

h3 {
    color: #262522
}

h4 {
    color: #262522
}

h5 {
    color: #262522
}



#projets {
    /* le texte s'étalle sur toute la page avec un alinea de 20px */
    background-color: #ffffff;
    text-align: justify;
    text-indent: 20px;
    /* cree un rectangle qui est à 20px de chaque coté de l'écran */
    border: 1px solid rgb(182, 182, 182);
    border-radius: 4px;}

#projets:hover{
    box-shadow: rgb(182, 182, 182) 0px 0px 10px 0px;
}

#indent{
    margin: 10px;
}

.indent_content{
    margin-right: 10%;
    margin-left : 10%; 
}

#rubrique {
    text-align: center;
    font-weight: bold;
}

#dtxt {
    margin-left: 20px;
    margin-right: 20px;
}

.details:hover{
    cursor: pointer;
}

#binome {
    font-style: italic;
    color: rgb(82, 82, 82);
}

.container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: none;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }
  
.container .btn {
    transition-duration: 0.4s;
    background-color: #F9A602;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    float: left;
}

.container .btn:hover {
    background-color: rgb(255, 191, 0);
}

/* .flag-button {
    transition-duration: 0.4s;
}
 */
.container .flg img{
    height: 25px;
    width: 30px;
}

.container .flg {
    display: inline-block;
    padding: 1px;
    border: none;
    background-color: transparent;
    margin-left: 5px;
}
 
 .container .flg:hover {
    cursor: pointer;
 }
 

#lien{
    color: #00796B;
}


.imgD{
    border: 1px solid rgb(182, 182, 182);
    max-width: 45%;
    max-height: 45%;
    margin: 0 auto;
    margin-left: 2%;
}

.imgD:hover{
    box-shadow: rgb(182, 182, 182) 0px 0px 10px 0px;
} 

.ctc{
    transition-duration: 0.4s;
    background-color: #F9A602;
    border: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    font-size: 20px;
    cursor: pointer;
    width: 33%;
    border-radius: 4px;
    border:#262522
}

.ctc:hover {
    background-color: rgb(255, 191, 0);
    transform: scale(1.05);
    border-radius: 4px;

}

.ctc img {
    width: 45px;
    height: 45px;
    margin: left;
}


.ctc:active:after {

}


/* style for the footer */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: none;
    font-size: 12px;
    color: #000000;
    text-align: center;
    padding: 0;
    z-index: -3;
}
